body {
    font-family: 'HarmoniaSansPro', sans-serif;
}

.container{
    width: 1200px;  
}
.orange{
    color: #ff5912;
}

.section-home .home-background {
    min-height: 650px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
}

